@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-main-light dark:text-text-main-dark transition-colors duration-200 min-h-screen relative pb-24 font-display;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
